<!DOCTYPE html>
<html>
  <head>
    <title>RIP</title>
  </head>
  <body>
    <h1>Rest In Peace</h1>
      <form action="/">
        <button type="submit">Home</button>

      </form>
  </body>
</html>
