<!DOCTYPE html>
<html>
  <head>
    <title>Name your Tamagotchi:</title>
  </head>
  <body>
    <form action="/" method="post">
      <div class="form-group">
        <label for="name">Name your Tamagotchi</label>
        <input id="name" name="name" type="text" class="form-control">
      </div>
      <button type="submit">Go!</button>
    </form>
    <form action="/">
        <button type="submit">Cancel</button>
    </form>
  </body>
</html>
